* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}


html, body {
    height: 100%;
    width: 100%; 
    font-family: "Noto Sans Mono", monospace, sans-serif;   
}

#app-title {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.app-name {
    color: #fafafa;
    text-transform: uppercase;
}

footer a {
    text-decoration: none; 
}
